body {
	width: 1200px;
	max-width: 90%;
	margin: 0 auto
}

h1, h2{
	text-align: center;
}

.centrar{
	text-align: center;
}

.botonr{
	background-color: #009499;
	text-align: right;
	border-radius: 10px;
	border-color: black;
}
select {
	display: block;
	margin: 0 auto;
}

.bg { 
	background-image: url('resources/background.jpg');
	height: 100%; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#agregar{
	margin-bottom: 5px;
	border-radius: 10px;
	border-color: black;
	right: 200%;
	background-color: grey;
	color: white;
	position: relative;
}



  