body {
	width: 1200px;
	max-width: 90%;
	margin: 0 auto
}

h1, h2{
	text-align: center;
}

.centrar{
	text-align: center;
}

select {
	display: block;
	margin: 0 auto;
}

.bg { 
	background-image: url('resources/background.jpg');
	height: 100%; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }



  